# Node.js dependencies
/node_modules

# Output of scripts or binaries
/dist
/out
/build

# Environment variables
.env

# IDE or editor-specific files
.idea
.vscode

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
